<div data-role="view" data-title="Details" data-model="app.dataListView.dataListViewModel" data-bind="events: { show: detailsShow }">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <a data-role="backbutton" data-align="left">Back</a>      
        </div>
    </header>
	<h1>DETAILS</h1>
    <span data-bind="text: currentItem.urlText" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; display: block; margin-left: 70px; margin-right: 70px;"></span>
	<span data-bind="html: currentItem.text"></span>
    
    <!-- START_CUSTOM_CODE_dataListViewModel -->
    <!-- END_CUSTOM_CODE_dataListViewModel -->
</div>